* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    vertical-align: baseline;
    position: relative;
}

.wrapper {
    margin: 0 auto;
    width: 600px;
}


.placeholder {
    margin: 100px 0 14px;
    position: relative;
    height: 47px;
    background: #fff;
    border: #b8b8b8 1px solid;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12) inset;
}

.text-input {
    width: 520px;
    height: 34px;
    padding: 6px 10px 7px 11px;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    font-weight: 400;
    background: white;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: center;
}

.btn {
    float:right;
    margin: 2px;
    height: 44px;
    cursor: pointer;
}

.btn.go {
    margin-top: -46px;
    width: 54px;
}

#fonr {
    background: rgba(0,0,0,0.7);
    /*opacity: 0.7;*/
    /*filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);*/
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    display: none;
}

#panel {
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
}

#canva {
    cursor: pointer;
    width: 100%;
    height: 100%;
    
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none;
}

#pole {
    position: absolute;
}

#mini {
  /*  height: 50px;
    width: 50px;
    width: 50%;*/
}
.modern {
    display: inline-block;
    padding: 8px;
    background: #ddd;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    transition: all 0.3s ease-out;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,0.7);
}
 
.modern:hover {
    background: #eee
}

.modern.embossed-link {
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.5), 
        0 2px 2px rgba(0,0,0,0.3), 
        0 0 4px 1px rgba(0,0,0,0.1), 
        inset 0 3px 2px rgba(255,255,255,.22), 
        inset 0 -3px 2px rgba(0,0,0,.15), 
        inset 0 20px 10px rgba(255,255,255,.12);
}
 
.modern.embossed-link:active {
    box-shadow: 
        inset 0 -2px 1px rgba(255,255,255,0.2), 
        inset 0 3px 2px rgba(0,0,0,0.12);
}
/*html { position: relative; }  Фикс для оперы 
html, body {
height: 100%;
overflow: hidden;
}*/